[Unit]
Description=healthchecks.io heartbeat
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/hc-heartbeat
